body
{
	background-color: #FCF5E5;
}

h1
{
	color: #4A0404;
	font-family:Constantia;
}

h2
{
	color: #8B4513	;
	font-family:Constantia;
}

p
{
	font-weight:lighter;
	
	
}
backgroung-image
{
	height: 100%;
	width: 100%;
}
